<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Funcionário</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="fun-app">

        <header class="fun-header" th:insert="~{fragments/nav :: nav}"></header>
        
        <main class="fun-main">

            <ul th:if="${!#lists.isEmpty(funcionarioLista)}" class="fun-profile-list">
                <li class="fun-profile" th:each="funcionario : ${funcionarioLista}">

                    <ul class="fun-profile-info">
                        <li th:text="${funcionario.nome}"></li>
                        <li th:text="${funcionario.email}"></li>
                        <li th:text="${funcionario.telefone}"></li>
                    </ul>
                    <div class="fun-profile-actions">
                        <button class="fun-submit">Editar</button>
                        <button class="fun-submit" >Excluir</button>    
                    </div>

                </li>  
            </ul>

            <div th:if="${#lists.isEmpty(funcionarioLista)}" class="fun-message fun-sucess"></div>
                <p>Não há funcionários cadastrados no sistema.</p>
            </div>
        
        </main>
    
    </div>
</body>
</html>