<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcionarios</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../corona-free/src/assets/css/style.css">
    <link rel="stylesheet" href="../corona-free/src/assets/css/style.css">
    <link rel="stylesheet" href="../corona-free/src/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../corona-free/src/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../corona-free/src/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../corona-free/src/assets/vendors/font-awesome/css/font-awesome.min.css">
    <script defer src="../scripts/script.js"></script>

    <link rel="shortcut icon" href="../img/ifba_logo.png" />
</head>
<body>
    <div class="container-scroller">

      <!-- partial:../../partials/_sidebar.html -->
      <div th:replace="~{fragments/sidebar :: sidebar}"></div>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        
          <!-- partial -->
          <div class="main-panel fun-full-height">
            <div class="fun-content fun-centralize fun-full-height">
                
                <div class="fun-form-size">
                    
                    <form id="form-cargo"
                        th:action="@{/cargo/cadastrar_cargo}" th:object="${cargoDTO}" th:method="post">
                        
                        <h2 class="display-3 fun-centralize">Novo Cargo</h2><br>
                        
                        <div class="fun-form-field">
                            <label for="nome" form="form-cargo"> Nome: </label>
                            <input type="text" id="nome" th:field="*{nome}" placeholder="Assistente de Sistemas">
                        </div>

                        <div class="fun-form-field">
                            <label for="descricao" form="form-cargo"> Descrição: </label>
                            <input type="text" id="descricao" th:field="*{descricao}" placeholder="Atua como...">
                        </div>

                        <div class="fun-form-field">
                            <label for="salario" form="form-cargo"> Salário: </label>
                            <input type="number" id="salarioBase" th:field="*{salarioBase}" placeholder="1000.00">
                        </div>

                        <div class="fun-justify-end">
                            <button class="btn btn-outline-info me-2" type="submit">CADASTRAR</button>
                        </div>
                    </form>    
                </div>
    
                <div th:if="${messageStyle == 'fun-message fun-sucess'}" th:class="${messageStyle}">
                    <p th:text="${messageText}"></p>
                    <button class="fun-delete-button" onclick="closeMe(this)"><span class="fun-delete-x"></span></button>
                </div>
    
                <div th:if="${messageStyle == 'fun-message fun-error'}" th:class="${messageStyle}">
                    <ul th:if="${messageText}">
                        <li th:each="error : ${messageText}" th:text="${error}"></li>
                    </ul>
                    <button class="fun-delete-button" onclick="closeMe(this)"><span class="fun-delete-x"></span></button>
                </div>
  
            </div>
            <!-- content-wrapper ends -->
            
            <!-- partial -->
          </div>
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
      <!-- container-scroller -->
      <!-- plugins:js -->
      <script src="../corona-free/src/assets/vendors/js/vendor.bundle.base.js"></script>
      <!-- endinject -->
      <!-- Plugin js for this page -->
      <script src="../corona-free/src/assets/vendors/progressbar.js/progressbar.min.js"></script>
      <script src="../corona-free/src/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
      <script src="../corona-free/src/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
      <!-- End plugin js for this page -->
      <!-- inject:js -->
      <script src="../corona-free/src/assets/js/off-canvas.js"></script>
      <script src="../corona-free/src/assets/js/misc.js"></script>
      <script src="../corona-free/src/assets/js/settings.js"></script>
      <script src="../corona-free/src/assets/js/todolist.js"></script>
      <!-- endinject -->
      <!-- Custom js for this page -->
      <script src="/corona-free/src/assets/js/dashboard.js"></script>
      <!-- End custom js for this page -->
</body>
</html>

<!--
<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cargo</title>

    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/scripts/script.js"></script>
</head>
<body>
    <div class="fun-app">

        <header class="fun-header" th:insert="~{fragments/nav :: nav}"></header>

        <main class="fun-main">
            
            <form id="form-cargo" class="fun-form"
                th:action="@{/cargo/cadastrar_cargo}" th:object="${cargoDTO}" th:method="post">
                
                <h2>Cadastro de Cargos</h2>
                
                <div class="fun-field">
                    <label for="nome" form="form-cargo"> Nome: </label>
                    <input type="text" id="nome" th:field="*{nome}" placeholder="Assistente de Sistemas">
                </div>

                <div class="fun-field">
                    <label for="descricao" form="form-cargo"> Descrição: </label>
                    <input type="text" id="descricao" th:field="*{descricao}" placeholder="Atua como...">
                </div>

                <div class="fun-field">
                    <label for="salario" form="form-cargo"> Salário: </label>
                    <input type="number" id="salarioBase" th:field="*{salarioBase}" placeholder="1000.00">
                </div>

                <button class="fun-submit" type="submit">CADASTRAR</button>
            </form>

            <div th:if="${messageStyle == 'fun-message fun-sucess'}" th:class="${messageStyle}">
                <p th:text="${messageText}"></p>
            </div>

            <div th:if="${messageStyle == 'fun-message fun-error'}" th:class="${messageStyle}">
                <ul th:if="${messageText}">
                    <li th:each="error : ${messageText}" th:text="${error}"></li>
                </ul>
            </div>
        
        </main>
    
    </div>
</body>
</html>
-->