<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcionarios</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../corona-free/src/assets/css/style.css">
    <link rel="stylesheet" href="../corona-free/src/assets/css/style.css">
    <link rel="stylesheet" href="../corona-free/src/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../corona-free/src/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../corona-free/src/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../corona-free/src/assets/vendors/font-awesome/css/font-awesome.min.css">
    <script defer src="../scripts/script.js"></script>

    <link rel="shortcut icon" href="../img/ifba_logo.png" />

</head>
<body>
    <div class="container-scroller">
        
        <!-- partial:../../partials/_sidebar.html -->
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <!-- partial:../../partials/_navbar.html -->
          <div th:replace="~{fragments/navbar :: navbar}"></div>
          
          <!-- partial -->
          <div class="main-panel">
            <div class="fun-content fun-centralize fun-full-height-scroll">

                <div th:if="${#lists.isEmpty(cargoLista)}" class="fun-profile-list"> Não há cargos cadastrados.</div>
    
                <ul th:if="${!#lists.isEmpty(cargoLista)}" class="fun-profile-list">
                    <li class="fun-profile" th:each="cargo : ${cargoLista}">
                        <div class="card">
                            <div class="card-body">
                                <ul class="fun-profile-info">
                                    <li hidden th:text="'ID: ' + ${cargo.id}"></li>
            
                                    <li th:if="${cargo.nome != null}" th:text="${cargo.nome}" class="font-weight-bold card-header"></li>
                                    <li th:if="${cargo.nome == null}">Sem nome</li>
            
                                    <li th:if="${cargo.descricao != ''}" th:text="'Descrição: ' + ${cargo.descricao}"></li>
                                    <li th:if="${cargo.descricao == ''}">Sem descrição</li>
            
                                    <li th:if="${cargo.salarioBase != null}" th:text="'Salário base: ' + ${cargo.salarioBase}"></li>
                                    <li th:if="${cargo.salarioBase == null}">Sem salário base</li>
            
                                </ul>
                            </div>

                            <div class="fun-profile-actions">
    
                                <form th:action="@{/cargo/gerenciar_cargo/{id} (id=${cargo.id})}"
                                    th:method="GET">
        
                                    <button type="submit" class="btn btn-outline-info">EDITAR</button>  
                                </form>
        
                                <form th:action="@{/cargo/gerenciar_cargo/{id} (id=${cargo.id})}"
                                    th:method="POST">
        
                                    <input type="hidden" name="_method" value="DELETE">
        
                                    <button type="submit" class="btn btn-outline-danger">REMOVER</button>  
                                </form>
                                    
                            </div>

                        </div>
    
                    </li>  
                </ul>
    
                <div th:if="${messageStyle == 'fun-message fun-sucess'}" th:class="${messageStyle}">
                    <p th:text="${messageText}"></p>
                    <button class="fun-delete-button" onclick="closeMe(this)"><span class="fun-delete-x"></span></button>
                </div>
    
                <div th:if="${messageStyle == 'fun-message fun-error'}" th:class="${messageStyle}">
                    <ul th:if="${messageText}">
                        <li th:each="error : ${messageText}" th:text="${error}"></li>
                    </ul>
                    <button class="fun-delete-button" onclick="closeMe(this)"><span class="fun-delete-x"></span></button>
                </div>
                
            </div>
            <!-- content-wrapper ends -->
            
            <!-- partial -->
          </div>
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
      <!-- container-scroller -->
      <!-- plugins:js -->
      <script src="../corona-free/src/assets/vendors/js/vendor.bundle.base.js"></script>
      <!-- endinject -->
      <!-- Plugin js for this page -->
      <script src="../corona-free/src/assets/vendors/progressbar.js/progressbar.min.js"></script>
      <script src="../corona-free/src/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
      <script src="../corona-free/src/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
      <!-- End plugin js for this page -->
      <!-- inject:js -->
      <script src="../corona-free/src/assets/js/off-canvas.js"></script>
      <script src="../corona-free/src/assets/js/misc.js"></script>
      <script src="../corona-free/src/assets/js/settings.js"></script>
      <script src="../corona-free/src/assets/js/todolist.js"></script>
      <!-- endinject -->
      <!-- Custom js for this page -->
      <script src="/corona-free/src/assets/js/dashboard.js"></script>
      <!-- End custom js for this page -->
</body>
</html>

<!--
<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Cargo</title>

    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/scripts/script.js"></script>
</head>
<body>
    <div class="fun-app">

        <header class="fun-header" th:insert="~{fragments/nav :: nav}"></header>
        
        <main class="fun-main">

            <ul th:if="${!#lists.isEmpty(cargoLista)}" class="fun-profile-list">
                <li class="fun-profile" th:each="cargo : ${cargoLista}">

                    <ul class="fun-profile-info">
                        <li hidden th:text="'ID: ' + ${cargo.id}"></li>

                        <li th:if="${cargo.nome != null}" th:text="'Nome: ' + ${cargo.nome}"></li>
                        <li th:if="${cargo.nome == null}">Sem nome</li>

                        <li th:if="${cargo.descricao != ''}" th:text="'Descrição: ' + ${cargo.descricao}"></li>
                        <li th:if="${cargo.descricao == ''}">Sem descrição</li>

                        <li th:if="${cargo.salarioBase != null}" th:text="'Salário base: ' + ${cargo.salarioBase}"></li>
                        <li th:if="${cargo.salarioBase == null}">Sem salário base</li>

                    </ul>
                    <div class="fun-profile-actions">

                        <form th:action="@{/cargo/gerenciar_cargo/{id} (id=${cargo.id})}"
                            th:method="GET">

                            <button type="submit" class="fun-submit">SELECIONAR</button>  
                        </form>

                        <form th:action="@{/cargo/gerenciar_cargo/{id} (id=${cargo.id})}"
                            th:method="POST">

                            <input type="hidden" name="_method" value="DELETE">

                            <button type="submit" class="fun-submit">REMOVER</button>  
                        </form>
                          
                    </div>

                </li>  
            </ul>

            <div class="fun-edit-form" th:if="${cargoSelecionado != null}"
                th:insert="~{fragments/edit_form_cargo :: edit_form_cargo}"></div>

            <div th:if="${#lists.isEmpty(cargoLista) && messageStyle == null}" class="fun-message fun-sucess">
                <p>Não há cargos cadastrados no sistema.</p>
            </div>

            <div th:if="${messageStyle == 'fun-message fun-sucess'}" th:class="${messageStyle}">
                <p th:text="${messageText}"></p>
            </div>

            <div th:if="${messageStyle == 'fun-message fun-error'}" th:class="${messageStyle}">
                <ul th:if="${messageText}">
                    <li th:each="error : ${messageText}" th:text="${error}"></li>
                </ul>
            </div>
        
        </main>
    
    </div>
</body>
</html>
-->
