<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcionarios</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../corona-free/src/assets/css/style.css">
    <link rel="stylesheet" href="../corona-free/src/assets/css/style.css">
    <link rel="stylesheet" href="../corona-free/src/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../corona-free/src/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../corona-free/src/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../corona-free/src/assets/vendors/font-awesome/css/font-awesome.min.css">
    <script defer src="../scripts/script.js"></script>

    <link rel="shortcut icon" href="../img/ifba_logo.png" />

</head>
<body>
    <div class="container-scroller">

        <!-- partial:../../partials/_sidebar.html -->
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <!-- partial:../../partials/_navbar.html -->
          <div th:replace="~{fragments/navbar :: navbar}"></div>
          
          <!-- partial -->
          <div class="main-panel">
            <div class="fun-content fun-centralize fun-full-height-scroll">

                <div th:if="${#lists.isEmpty(enderecos)}" class="fun-profile-list"> Não há endereços cadastrados.</div>
    
                <ul th:if="${!#lists.isEmpty(enderecos)}" class="fun-profile-list">
                    <li class="fun-profile" th:each="endereco : ${enderecos}">
                        <div class="card">
                            <div class="card-body">
                                <ul class="fun-profile-info-endereco">
                                    <li hidden th:text="'ID: ' + ${endereco.id}"></li>
            
                                    <li th:if="${endereco.logradouro != null}" th:text="'Logradouro: ' + ${endereco.logradouro}"></li>
                                    <li th:if="${endereco.logradouro == null}">Sem logradouro</li>
            
                                    <li th:if="${endereco.numero != null}" th:text="'Número: ' + ${endereco.numero}"></li>
                                    <li th:if="${endereco.numero == null}">Sem número</li>
            
                                    <li th:if="${endereco.complemento != null}" th:text="'Complemento: ' + ${endereco.complemento}"></li>
                                    <li th:if="${endereco.complemento == null}">Sem complemento</li>
            
                                    <li th:if="${endereco.cidade != null}" th:text="'Cidade: ' + ${endereco.cidade}"></li>
                                    <li th:if="${endereco.cidade == null}">Sem cidade</li>
            
                                    <li th:if="${endereco.bairro != null}" th:text="'Bairro: ' + ${endereco.bairro}"></li>
                                    <li th:if="${endereco.bairro == null}">Sem bairro</li>
            
                                    <li th:if="${endereco.estado != null}" th:text="'Estado: ' + ${endereco.estado}"></li>
                                    <li th:if="${endereco.estado == null}">Sem estado</li>
            
                                    <li th:if="${endereco.cep != null}" th:text="'CEP: ' + ${endereco.cep}"></li>
                                    <li th:if="${endereco.cep == null}">Sem CEP</li>
            
                                    <li th:if="${endereco.pais != null}" th:text="'País: ' + ${endereco.pais}"></li>
                                    <li th:if="${endereco.pais == null}">Sem país</li>
                                </ul>
                            </div>
                        </div>
    
                    </li>  
                </ul>
    
                <div th:if="${#lists.isEmpty(enderecos) && messageStyle == null}" class="fun-message fun-sucess">
                    <p>Não foi encontrado nenhum endereço.</p>
                </div>
                    
            </div>
            <!-- content-wrapper ends -->
            
            <!-- partial -->
          </div>
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
      <!-- container-scroller -->
      <!-- plugins:js -->
      <script src="../corona-free/src/assets/vendors/js/vendor.bundle.base.js"></script>
      <!-- endinject -->
      <!-- Plugin js for this page -->
      <script src="../corona-free/src/assets/vendors/progressbar.js/progressbar.min.js"></script>
      <script src="../corona-free/src/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
      <script src="../corona-free/src/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
      <!-- End plugin js for this page -->
      <!-- inject:js -->
      <script src="../corona-free/src/assets/js/off-canvas.js"></script>
      <script src="../corona-free/src/assets/js/misc.js"></script>
      <script src="../corona-free/src/assets/js/settings.js"></script>
      <script src="../corona-free/src/assets/js/todolist.js"></script>
      <!-- endinject -->
      <!-- Custom js for this page -->
      <script src="/corona-free/src/assets/js/dashboard.js"></script>
      <!-- End custom js for this page -->
</body>
</html>

<!--
<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endereços</title>

    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/scripts/script.js"></script>
</head>
<body>
    <div class="fun-app">

        <header class="fun-header" th:insert="~{fragments/nav :: nav}"></header>
        
        <main class="fun-main">

            <ul th:if="${!#lists.isEmpty(enderecos)}" class="fun-profile-list">
                <li class="fun-profile" th:each="endereco : ${enderecos}">

                    <ul class="fun-profile-info-endereco">
                        <li hidden th:text="'ID: ' + ${endereco.id}"></li>

                        <li th:if="${endereco.logradouro != null}" th:text="'Logradouro: ' + ${endereco.logradouro}"></li>
                        <li th:if="${endereco.logradouro == null}">Sem logradouro</li>

                        <li th:if="${endereco.numero != null}" th:text="'Número: ' + ${endereco.numero}"></li>
                        <li th:if="${endereco.numero == null}">Sem número</li>

                        <li th:if="${endereco.complemento != null}" th:text="'Complemento: ' + ${endereco.complemento}"></li>
                        <li th:if="${endereco.complemento == null}">Sem complemento</li>

                        <li th:if="${endereco.cidade != null}" th:text="'Cidade: ' + ${endereco.cidade}"></li>
                        <li th:if="${endereco.cidade == null}">Sem cidade</li>

                        <li th:if="${endereco.bairro != null}" th:text="'Bairro: ' + ${endereco.bairro}"></li>
                        <li th:if="${endereco.bairro == null}">Sem bairro</li>

                        <li th:if="${endereco.estado != null}" th:text="'Estado: ' + ${endereco.estado}"></li>
                        <li th:if="${endereco.estado == null}">Sem estado</li>

                        <li th:if="${endereco.cep != null}" th:text="'CEP: ' + ${endereco.cep}"></li>
                        <li th:if="${endereco.cep == null}">Sem CEP</li>

                        <li th:if="${endereco.pais != null}" th:text="'País: ' + ${endereco.pais}"></li>
                        <li th:if="${endereco.pais == null}">Sem país</li>
                    </ul>

                </li>  
            </ul>

            <div th:if="${#lists.isEmpty(enderecos) && messageStyle == null}" class="fun-message fun-sucess">
                <p>Não foi encontrado nenhum endereço.</p>
            </div>
        
        </main>
    
    </div>
</body>
</html>
-->