<div th:fragment="edit_form_cargo">

    <form id="form-editar-cargo" class="fun-form" 
         th:action="@{/cargo/gerenciar_cargo}" th:method="post" th:object="${cargoSelecionado}">

        <input type="hidden" name="_method" value="PUT">

        <h2 th:text="'Editar ' + ${cargoSelecionado.nome}"></h2>
        
        <input type="hidden" id="id" th:field="*{id}" th:value="${cargoSelecionado.id}">
        
        <div class="fun-field">
            <label for="nome" form="form-editar-cargo"> Nome: </label>
            <input type="text" id="nome" placeholder="Assistente de Sistemas"
                th:field="*{nome}" th:value="${cargoSelecionado.nome}">
        </div>

        <div class="fun-field">
            <label for="descricao" form="form-editar-cargo"> Descricao: </label>
            <input type="text" id="descricao" th:field="*{descricao}" th:value="${cargoSelecionado.descricao}">
        </div>
            
        <div class="fun-field">
            <label for="salarioBase" form="form-editar-cargo"> Salário: </label>
            <input type="text" id="salarioBase" placeholder="1000.00"
                th:field="*{salarioBase}" th:value="${cargoSelecionado.salarioBase}">
        </div>

        <button class="fun-submit" type="submit">UPDATE</button>

    </form>

</div>