<div th:fragment="edit_form">

    <form id="form-editar-funcionario" class="fun-form" 
         th:action="@{/funcionario/gerenciar_funcionario}" th:method="post" th:object="${funcionarioSelecionado}">

        <input type="hidden" name="_method" value="PUT">

        <h2 th:text="'Editar ' + ${funcionarioSelecionado.nome}"></h2>
        
        <input type="hidden" id="id" th:field="*{id}" th:value="${funcionarioSelecionado.id}">
        
        <div class="fun-field">
            <label for="nome" form="form-editar-funcionario"> Nome: </label>
            <input type="text" id="nome" placeholder="Fulano da Silva"
                th:field="*{nome}" th:value="${funcionarioSelecionado.nome}">
        </div>

        <div class="fun-field">
            <label for="cpf" form="form-editar-funcionario"> CPF: </label>
            <input type="text" id="cpf" placeholder="000.000.000-00"
            th:field="*{cpf}" th:value="${funcionarioSelecionado.cpf}">
        </div>
            
        <div class="fun-field">  
            <label for="email" form="form-editar-funcionario"> E-mail: </label>
            <input type="text" id="email" placeholder="beltrano@exemplo.com"
                th:field="*{email}" th:value="${funcionarioSelecionado.email}">
        </div>

        <div class="fun-field">
            <label for="telefone" form="form-editar-funcionario"> Telefone: </label>
            <input type="text" id="telefone" placeholder="(00) 12345-6789"
                th:field="*{telefone}" th:value="${funcionarioSelecionado.telefone}">
        </div>

        <div class="fun-field">
            <label for="dataNascimento" form="form-editar-funcionario"> Data de Nasc.: </label>
            <input type="text" id="dataNascimento" placeholder="yyyy-mm-dd"
                th:field="*{dataNascimento}" th:value="${funcionarioSelecionado.dataNascimento}">
        </div>

        <div class="fun-field">
            <label for="dataAdmissao" form="form-editar-funcionario"> Data de Admissão: </label>
            <input type="text" id="dataAdmissao" placeholder="yyyy-mm-dd"
            th:field="*{dataAdmissao}" th:value="${funcionarioSelecionado.dataAdmissao}">
        </div>

        <div class="fun-field">
            <label for="salario" form="form-editar-funcionario"> Salário: </label>
            <input type="text" id="salario" placeholder="1400.00"
                th:field="*{salario}" th:value="${funcionarioSelecionado.salario}">
        </div>

        <div class="fun-field">
            <label for="ativo" form="form-editar-funcionario"> Status: </label>
            <select name="ativo" id="ativo" th:value="${funcionarioSelecionado.ativo}">
                <option value="1">Ativo</option>
                <option value="0">Não ativo</option>
            </select>
        </div>

        <button class="fun-submit" type="submit">UPDATE</button>

    </form>

</div>