<div th:fragment="nav">
    <nav class="fun-nav">

        <section class="fun-nav-section">
            <button onmouseover="showNavOptions('funcionarioSection')" onmouseout="showNavOptions('funcionarioSection')"
            class="fun-nav-title"><span>Funcionário</span></button>

            <ul id="funcionarioSection" class="fun-nav-hidden"
                onmouseover="showNavOptions('funcionarioSection')" onmouseout="showNavOptions('funcionarioSection')">
                <li> <a href="/funcionario/cadastrar_funcionario"><span>Cadastrar</span></a> </li>
                <li> <a href="/funcionario/gerenciar_funcionario"><span>Gerenciar</span></a> </li>
            </ul>
        </section>
        
        <section class="fun-nav-section">
            <button onmouseover="showNavOptions('cargoSection')" onmouseout="showNavOptions('cargoSection')"
                class="fun-nav-title"><span>Cargo</span></button>

            <ul id="cargoSection" class="fun-nav-hidden"
                onmouseover="showNavOptions('cargoSection')" onmouseout="showNavOptions('cargoSection')">
                <li> <a href="/cargo/cadastrar_cargo"><span>Cadastrar</span></a> </li>
                <li> <a href="/cargo/gerenciar_cargo"><span>Gerenciar</span></a> </li>
            </ul>
        </section>

        <section class="fun-nav-section">
            <button onmouseover="showNavOptions('departamentoSection')" onmouseout="showNavOptions('departamentoSection')"
            class="fun-nav-title"><span>Departamento</span></button>

            <ul id="departamentoSection" class="fun-nav-hidden"
                onmouseover="showNavOptions('departamentoSection')" onmouseout="showNavOptions('departamentoSection')">
                <li> <a href="/departamento/cadastrar_departamento"><span>Cadastrar</span></a> </li>
                <li> <a href="/departamento/gerenciar_departamento"><span>Gerenciar</span></a> </li>
            </ul>
        </section>

    </nav>
    
</div>