
<nav th:fragment="sidebar" class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="/index"><img src="/img/ifba_logo_extended_v2.png" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="/index"><img src="/img/ifba_logo.png" alt="logo" /></a>
    </div>
    <ul class="nav fun-sidebar-sticky">
        
        <li class="nav-item nav-category">
        <span class="nav-link">Administração de Funcionarios</span>
        </li>
        <li class="nav-item menu-items">
        <a class="nav-link" data-bs-toggle="collapse" href="#funcionarios" aria-expanded="false" aria-controls="funcionarios">
            <span class="menu-icon">
            <i class="mdi mdi-account-multiple"></i>
            </span>
            <span class="menu-title">Funcionarios</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="funcionarios">
            <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/funcionario/cadastrar_funcionario">Cadastrar</a></li>
            <li class="nav-item"> <a class="nav-link" href="/funcionario/gerenciar_funcionario">Gerenciar</a></li>
            </ul>
        </div>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" data-bs-toggle="collapse" href="#cargos" aria-expanded="false" aria-controls="cargos">
            <span class="menu-icon">
                <i class="mdi mdi-clipboard-account"></i>
            </span>
            <span class="menu-title">Cargos</span>
            <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="cargos">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/cargo/cadastrar_cargo">Cadastrar</a></li>
                <li class="nav-item"> <a class="nav-link" href="/cargo/gerenciar_cargo">Gerenciar</a></li>
            </ul>
            </div>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" data-bs-toggle="collapse" href="#departamentos" aria-expanded="false" aria-controls="departamentos">
            <span class="menu-icon">
                <i class="mdi mdi-briefcase"></i>
            </span>
            <span class="menu-title">Departamentos</span>
            <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="departamentos">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/departamento/cadastrar_departamento">Cadastrar</a></li>
                <li class="nav-item"> <a class="nav-link" href="/departamento/gerenciar_departamento">Gerenciar</a></li>
            </ul>
            </div>
        </li>
        <li class="nav-item menu-items">
        <a class="nav-link" href="/endereco/visualizar_endereco">
            <span class="menu-icon">
            <i class="mdi mdi-pin"></i>
            </span>
            <span class="menu-title">Endereços</span>
            <i class="menu-arrow"></i>
        </a>
        </li>
        <li class="nav-item menu-items">
        <a class="nav-link" href="/h2-console">
            <span class="menu-icon">
            <i class="mdi mdi-database"></i>
            </span>
            <span class="menu-title">Base de Dados</span>
            <i class="menu-arrow"></i>
        </a>
        </li>
    </ul>
</nav>