.fun-form {
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    height: min-content;
    gap: 5px;

    justify-content: center;
}

.fun-form h2 {
    font-size: 30px;
    font-weight: 400;
    text-wrap: nowrap;
    padding: 15px;
}

.fun-field {
    display: flex;
    gap: 15px;
    text-wrap: nowrap;
    width: 320px;
    height: 30px;
}

.fun-field input, select {
    width: 100%;
}

.fun-field label {
    align-content: center;
}

.fun-submit {

    width: 100px;
    height: 30px;
    border: 1px solid black;
    font-weight: 600;
}

.fun-submit:hover {
    cursor: pointer;
}