.fun-message {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 5%;

    width: fit-content;
    min-height: 80px;
    padding: 10px;
    
    font-weight: 700;
    font-size: 16px;

    border-radius: 4px;
    z-index: 10000;
}

@keyframes move {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    
    40% {
        opacity: 0;
        transform: translateY(0);
    }


    100% {
        opacity: 1;
        transform: translateY(10%);
    }
}

.fun-sucess {
    background-color: rgb(27, 122, 27);
    animation: move 1.4s ease-in-out forwards; 
}

.fun-error {
    background-color: rgba(160, 17, 17);
    animation: move 1.4s ease-in-out forwards; 
}