.fun-message {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    
    position: absolute;
    bottom: 10%;

    width: fit-content;
    min-height: 80px;
    padding: 10px;
    
    font-weight: 700;
    font-size: 16px;

    border: 1px solid black;
}

.fun-sucess {
    background-color: hsla(91, 59%, 69%, 0.75);
}

.fun-error {
    background-color: hsl(0, 60%, 69%, 0.75); 
}