.fun-profile-list {

    display: flex;
    flex-wrap: wrap;
    height:min-content;
    gap: 5px;
}

.fun-profile {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    height: 120px;
    border: 1px solid black;
}

.fun-profile-info {
    display: flex;
    flex-wrap: wrap;
    height: 64px;
    gap: 5px;
    padding: 10px;
    width: 50%;
}
.fun-profile-info li {
    width: 100%;
    height: min-content;
}
.fun-img-section {
    display: flex;
    justify-content: end;
    width: 50%;

}
.fun-img {
    display: flex;
    width: 90px;
}
.fun-profile-actions {
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
    right: 5px;
    gap: 5px;
    width: 100%;
    height: 35px;
    
}