<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cargo</title>

    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/scripts/script.js"></script>
</head>
<body>
    <div class="fun-app">

        <header class="fun-header" th:insert="~{fragments/nav :: nav}"></header>

        <main class="fun-main">

            <span class="fun-main-subtitle">Sistema ERP</span>
            <h1 class="fun-main-title">Cadastro de Funcionário</h1>

            <p class="fun-main-text">Desenvolvido por Brenda Martinez e Isaque Lima.</p>
        </main>
    
    </div>
</body>
</html>