<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcionarios</title>
</head>
<body>
    
    <h1>Funcionarios</h1>

    <nav class="fun-nav">
        <a href="/funcionario/cadastrar_funcionario"><span>Cadastrar</span></a>
        <a href="/funcionario/gerenciar_funcionario"><span>Gerenciar</span></a>
    </nav>

    <h1>Cargos</h1>
    <nav class="fun-nav">
        <a href="/cargo/cadastrar_cargo"><span>Cadastrar</span></a>
        <a href="/cargo/gerenciar_cargo"><span>Gerenciar</span></a>
    </nav>

    <h1>Departamentos</h1>
    <nav class="fun-nav">
        <a href="/departamento/cadastrar_departamento"><span>Cadastrar</span></a>
        <a href="/departamento/gerenciar_departamento"><span>Gerenciar</span></a>
    </nav>
</body>
</html>