<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <h1>Lista TODO</h1>

  <ul  class="todo">
    <li th:each="todo: ${todos}">
      <form action="/removeTODO" method="post">
        <input type="hidden" name="id" th:value="${todo.id}" />
        <button>remove</button>
        <span th:text="${todo.title}"></span>
        <a th:href="@{'/removeTODO/{id}'(id=${todo.id})}">X</a>
      </form> 
    </li>

  </ul>
  <a href="/addTODO">Cadastro</a>
</body>

</html>