<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <h1>Add Usuario</h1>
  <form action="#" th:action="@{/usuario/update/{id}(id=${user.id})}"  th:object="${user}" method="post">
    <label for="nome">Nome</label>
    <input type="text" th:field="*{nome}" id="nome" placeholder="Nome">
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    <br>
    <label for="email">Email</label>
    <input type="text" readonly th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br>
    <button >Update User</button>
</form>
 
</body>

</html>