<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <h1>Lista Usuario</h1>

  <div th:switch="${users}">
    <h2 th:case="null">Não tem usuário cadastrado</h2>
        <div th:case="*">
            <h2>Usuario</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.nome}"></td>
                    <td th:text="${user.email}"></td>
                    <td><a th:href="@{/usuario/edit/{id}(id=${user.id})}">Edit</a></td>
                    <td><a th:href="@{/usuario/delete/{id}(id=${user.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="/usuario/add">Add a new user</a></p>
</div>
</body>

</html>