<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <h1>Add Usuario</h1>
  <form action="#" th:action="@{/usuario/add}" th:object="${usuario}" method="post">
    <label for="nome">Nome</label>
    <input type="text" th:field="*{nome}" id="nome" placeholder="Nome">
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    <br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br>
    <label for="senha">Senha</label>
    <input type="password" th:field="*{senha}" id="senha" placeholder="senha">
    <span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
    <br>
    <button >   Add User</button>
</form>
 
</body>

</html>